/* common shared styles */
body {
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: var(--White-Color, #FFF);
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

.section-title {
    color: var(--Dark-01, #181818);
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-description {
    color: var(--Dark-03, #757575);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

/* nav related styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.nav-title {
    color: var(--Dark-01, #181818);
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: var(--Dark-02, #474747);
}

/* header related styles */
.header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, top left;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    max-width: 585px;
}

.banner-greeting {
    color: var(--Dark-02, #474747);
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 0;
}

.banner-title {
    color: var(--Dark-01, #181818);
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-description {
    margin-top: 0;
    margin-bottom: 30px;
}

.banner .profile-pic {
    width: 584px;
    height: 676px;
    flex-shrink: 0;
}

/* main section styles */
main {
    max-width: 1140px;
    /* justify-content: center; */
    margin: 0 auto;
}

main section {
    margin-top: 130px;
}

/* about */
.about {
    padding: 150px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    color: var(--Dark-03, #757575);
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    /* 150% */
}

.info-title {
    color: var(--Dark-03, #757575);
    font-weight: 400;
    margin-bottom: 0;
}

.info-description {
    color: var(--Dark-02, #474747);
    font-weight: 700;
    margin-top: 5px;
}

#what-i-do-description {
    padding: 30px 115px;
}

.skill-container {
    display: flex;
    gap: 24px;
}

.skill {
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill-description {
    color: var(--Dark-03, #757575);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    /* 175% */
}

/* resume */

.resume-container {
    display: flex;
    gap: 70px;
}

.resume-column-title {
    color: var(--Dark-02, #474747);
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}

.resume-item-title {
    color: var(--Dark-02, #474747);
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}

.resume-item-subtitle {
    color: var(--Dark-03, #757575);
    font-size: 20px;
    font-weight: 600;
    margin: 0 90px 20px 0;
}

.resume-item-description {
    color: var(--Dark-03, #757575);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin: 0 50px 0 0;
}

.resume-container hr {
    margin: 30px 0 30px 0;
}

.download-cv {
    text-align: center;
    margin-top: 50px;
}

/* footer-style */

footer {
    display: flex;
    background: #FFF8F3;
    padding: 130px 230px;
    margin-top: 100px;
    gap: 100px;
}

.footer-column {
    width: 50%;
}

.social-links a {
    margin-right: 25px;
}

.contact input[type="text"],
.contact input[type="email"],
textarea {
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: var(--Dark-03, #757575);
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    /* 175% */
    border-radius: 5px;
    background: var(--White-Color, #FFF);
    border: none;
    width: 100%;
}

footer form textarea::placeholder {
    color: var(--Dark-03, #757575);
    font-family: 'Open Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 175% */
}

footer .section-title,
.section-description {
    text-align: left;
}